body {
  font-family: sans-serif;
  background-color: #fff;
  text-align: center;
}
.state {
  font-size: 5px;
  font-weight: bold;
}
#usa {
  fill: #70de6e;
}
.info {
  font-size: 10px;
}
#winner {
  fill: #194c87;
  stroke: black;
  font-weight: bold;
  stroke-width: 0.5;
}
#missed {
  fill: #ff4242;
}
