body {
  font-family: sans-serif;
  background-color: #fff;
  text-align: center;
}
.state {
  font-size: 5px;
  font-weight: bold;
}
#usa {
  fill: #70de6e;
}
.info {
  font-size: 8px;
}
#winner {
  fill: #21d8d6;
  stroke: black;
  font-weight: bold;
  stroke-width: 0.5;
}
#missed {
  fill: #ff4242;
}
.bottom {
  stroke: #9b9dad;
  stroke-width: 1;
  fill: none;
}
.top {
  stroke: #21d8d6;
  stroke-width: 2.5;
  stroke-linecap: round;
  fill: none;
}
.score {
  font-size: 10px;
  text-anchor: middle;
}
